
.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 25px;
}

.cardzBox{
  width: 100%;
  display: flex;
  gap: 20px;
}
.cardz{
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  padding: 20px;
  display: flex;
  gap: 50px;
}

.numbers{
  font-size: 40px;
  font-weight: 500;
  color: var(--blue);
}
.cardName{
  font-size: 20px;
  font-weight: 500;
  color:#989898;
}
.iconBx ion-icon{

  font-size: 40px;
  color:aliceblue
}

.photo{
  width: 100%;
  height: 367px;
  background: #a44d4d;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.table{
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tabTable{
  width: 100%;
  text-align: left;
}

.tasksList{
  width: 100%;
  height: 70%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 0 10px 20px;


  min-height: 100px;
  min-width: 100px;

}

.graphics{
  width: 100%;
  height: 30%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;

  margin: 10px 0 0 20px;


  min-height: 100px;
  min-width: 100px;

}


.left{

  width:67%
}

.buttonToAdd{
  width: 100%;
  display: flex;
  justify-content:right;
  margin-bottom: 20px;
}
.buttonToAddt{
  width: 100%;
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;
}
h1{
  padding: 0 20px ;
}
.btn-table{
 
   margin-right: 20px;
}

.tabTable td{
  height: 30px;
}

.side{
 
width: 30%;
height: 82.5vh;
margin: 0 30px 0 0px;
}
