* {
    font-family: "Poppins","Ubuntu", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
 body{
    padding: 0!important;
    background-color: #ffffff!important;
    opacity: 1;
    transition: opacity 0.5s;     
 } 
a{
    text-decoration: none;
}
/*Main Body stylization*/
.table-tabs{
    margin-top: 50px;
    height: 80vh;
    padding: 10px 30px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.table-lists{
    position: relative;
    margin: 20px 0;
}
.table-lists .tab{
    color: #4B4B4B;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}
.table-lists .tab:hover{ 
    cursor: pointer;
}
.table-lists .tab.active{
    color: var(--blue);
}
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
}
.tabTable{
    display: none;
}
.tabTable.active{
    display: table;
    animation: moving 0.8s ease;
}
@keyframes moving{
    from{transform: translateX(40px); opacity: 0; }
    to{transform: translateX(0px); opacity: 1;}
}
table *{
    padding: 10px;
}
table{
    border-spacing: 0;
}
.tablehead{
    background-color: var(--blue);
    color: white;
    th{
        font-weight: 600;
    }
}

main{
    padding: 0 20px;
    position: relative;
}
.main{
    width: calc(100% - 300px - 400px) !important;
}
.main.active {
    width: calc(100% - 80px - 400px);
    left: 80px;
}
aside{
    position: absolute;
    width: 400px;
    height: 100vh;
    background: #e3d9e836;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    right: 0;
}


.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
}
.Details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;

    .username{
        font-weight: bold;
    }
}
.userImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

.info .eventImage{
    max-height: 300px;
    height: 300px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

}

.eventDetails{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    width: 100%;
    padding: 0 10px;
    /* Customizes the whole scrollbar */
    /*For firefox*/
    /* scrollbar-width: thin; 

    scrollbar-color: #555; */
}


::-webkit-scrollbar {
    width: 7px; /* width of the entire scrollbar */
}

/* Customizes the track (progress bar) */
::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

/* Customizes the handle (scrollable thumb) */
::-webkit-scrollbar-thumb {
    background: #9d6ca5; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
}

/* Handle on hover or active */
::-webkit-scrollbar-thumb:hover {
    background: #97649f; /* color when hovered over */
}

.eventTitle, .eventImage{
    width: 100%;
}
.eventTitle{
    font-size: 25px;
    font-weight: bold;
    color: var(--blue);
    margin: 0 0 20px 0;
}

.eventDescription{
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
}
.descriptionTitle{
    font-size: 20px;
    font-weight: bold;
    color: var(--blue);
    margin: 20px 0 15px 0;
}
.DateTitle{
    font-weight: bold;
}
.eventStartDate, .eventEndDate{
    margin: 20px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--blue);
}

.myprimarybtn{
    background-color: var(--blue);
    color: var(--white);
    border: transparent;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.myprimarybtn:hover{
    cursor: pointer;
}

.pagination{
    position: absolute;
    bottom: 50px;
    left: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page{
    transition: all 0.3s ease-in-out;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page:hover{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

nav[aria-label="breadcrumb"] {
    padding: 1em;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item::after {
    content: ">";
    padding: 0 0.5em;
}

.breadcrumb-item:last-child::after {
    content: "";
}

.breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb-item.active {
    color: #6c757d;
}
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
}
.progress-bar-fill {
    height: 30px;
    background-color: var(--blue);
    border-radius: 25px;
    transition: width 1s;
}

#currentPN{
    border: none;
    background-color: transparent;
    width: 20px;
    font-size: 16px;
}