* {
    font-family: "Poppins","Ubuntu", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
}
/*Main Body stylization*/
.table-tabs{
    margin-top: 50px;
    height: 80vh;
    padding: 10px 30px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.table-lists{
    position: relative;
    margin: 20px 0;
}
.table-lists .tab{
    color: #4B4B4B;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}
.table-lists .tab:hover{ 
    cursor: pointer;
}
.table-lists .tab.active{
    color: var(--blue);
}
.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
}
.tabTable{
    display: none;
}
.tabTable.active{
    display: table;
    animation: moving 0.8s ease;
}
@keyframes moving{
    from{transform: translateX(40px); opacity: 0; }
    to{transform: translateX(0px); opacity: 1;}
}
table *{
    padding: 10px;
}
table{
    border-spacing: 0;
}
.tablehead{
    background-color: var(--blue);
    color: white;
    th{
        font-weight: 600;
    }
}

main{
    padding: 0 20px;
    position: relative;
}
.main{
    width: calc(100% - 300px - 400px) !important;
}
.main.active {
    width: calc(100% - 80px - 400px);
    left: 80px;
}
aside{
    position: absolute;
    width: 400px;
    height: 100vh;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    right: 0;
}


.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.userImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

.eventImage{
    max-width: 400px;
}
.myprimarybtn{
    background-color: var(--blue);
    color: var(--white);
    border: transparent;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.myprimarybtn:hover{
    cursor: pointer;
}

.pagination{
    position: absolute;
    bottom: 50px;
    left: 45%;
}