@import url("styles.css"); /*actually works*/

.tabTable{
    display: none;
}
.tabTable.active{
    display: table;
    animation: moving 0.8s ease;
}
@keyframes moving{
    from{transform: translateX(40px); opacity: 0; }
    to{transform: translateX(0px); opacity: 1;}
}
table *{
    padding: 10px;
}
table{
    border-spacing: 0px 10px;
    text-align: left;
    width: 100%;
    input{
        width: 18px;
        height: 18px;
    }
}
th.hidden-head{
    color: var(--white);
}
.tablehead{
    position: relative;
    background-color: var(--white);
    color: var(--black3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
    z-index: 5;
    th{
        font-weight: 400;
        height: 68px;
    }
}

.selected {
    background-color: #d1f0ff;
    border: #4AA3FC 1px solid;
}