<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CONTACTS</title>
	<link rel="stylesheet" th:href="@{/css/topBar.css}">
	<link rel="stylesheet" th:href="@{/css/navStyle.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>
	    <!-- =============== Navigation ================ -->
		<div class="navigation" th:replace="~{navigation :: navigation}">
		</div>
		<div class="container main">
			<div class="topbar" th:replace="~{topBar :: topBar}"></div>
			<h1>Contacts</h1>
			<div class="nav">
				<div class="contact-lists">
                    <button type="button" class="tab active">Club</button>
                    <button type="button" class="tab">Association</button>
                    <button type="button" class="tab">School</button>
                    <div class="line"></div>
                </div>
			</div>
			<div class="cardContainer">
				<div class="contactCards">
				</div>
			</div>
			<div class="add">
				<button id="displayFormBtn" class="btn addContact" type="button">Add contact</button>
			</div>
			
			<div id="overlay" class="overlay"  th:replace="~{otherFragments :: contactForm}"></div>
			<!-- ========================= Main ==================== -->
			
			<!-- <div class="main">
				<div class="topbar" th:replace="~{topBar :: topBar}"></div>
				<div class="container">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
							<nav style="--bs-breadcrumb-divider:'>'" aria-label="breadcrumb">
							
								<li class="breadcrumb-item">
									<a th:href= "@{/admin-page}">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">contact
	
								</li>
							
					
							</nav>
					</div>
				</div>
				
			 </div>
			<div class="details">
                <div class="recentOrders" style="display: block;">
                    <div class="cardHeader">
                        <h2>LIST OF CONTACTS</h2>
                        <div class="carHeaderleft">
                            <a href="#"><img src="./assets/imgs/icons8_downloading_updates_24px.png" alt=""
                                    style="scale: 1.45; margin-right: 10px; margin-top: 2px;"></a>
                            <a href="#" id="displayFormBtn" class="btn">Add a new contact</a>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phone Number</td>
                                <td>Country</td>
                            </tr>
                        </thead>

                        <tbody>
							<tr th:each="contact : ${contactList}">
								<td th:text="${contact.name}"></td>
								<td th:text="${contact.email}"></td>
								<td th:text="${contact.phoneNumber}"></td>
								<td th:text="${contact.country}"></td>

								<td><a th:href="@{'/contacts/' + ${contact.contactId} + '/edit'}">Edit</a></td>
                				<td><a th:href="@{'/contacts/' + ${contact.contactId} + '/delete'}">Delete</a></td>
							</tr>
                        </tbody>
                    </table>
                </div>

		</div>
			</div> -->
		</div>

</body>
<script src="/js/nav.js"></script>
<script src="/js/contact.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>