<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{css/dashboard.css}">
    <title>Document</title>
    <style>
        #textToHide {
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }

        #textToHide.show {
          opacity: 1;
        }
      </style>
</head>
<body>
    <div id="overlay" class="overlay"  th:fragment="createEventForm">
        <div class="form-container">
            <h2 style="margin-bottom: 30px;"><center>Fill out the form then Click "Submit" to create an Event:</center></h2>
            <form id="myForm" class="createEventForm" th:action="@{/events}" method="post" onsubmit="return confirm('Are you sure?');">
                <div class="formdet"><label for="eventName">Event Name:</label>
                    <input type="text" id="name" name="name" required><br><br>
                </div>
                <div class="formdet"><label for="startDate">Start Date:</label>
                    <input type="datetime-local" id="startDate" name="startDate" required><br><br>
                </div>

                <div class="formdet"><label for="endDate">End Date:</label>
                    <input type="datetime-local" id="endDate" name="endDate" required><br><br>
                </div>

                <div class="formdet"><label for="eventVenue">Event Venue:</label>
                    <div class="button-select-container">
                    <select class="formt" id="country" name="eventVenue" required >
                        <option selected>Select or Create Venue</option>
                        <option   th:each="venue : ${venueList}" th:text="${venue.getName()}" th:value="${venue.getId()}"></option>
                      </select>
                      <button type="button" class="addvenue" id="toggleButton">Add Venue</button> </div>

                    <br><br>
                </div>

                <div id="textToHide" style="height: 100px; background-color: blueviolet; width: 100px; align-self: center;"></div>

                <div class="formdet"> <label for="description">Description:</label>
                    <textarea id="description" name="description" required></textarea><br><br>
                </div>

                <div class="formdet"> <label for="estimatedAttendees">Estimated Attendees:</label>
                    <input type="number" id="estimatedAttendees" name="estimatedAttendees" required><br><br>
                </div>

                <div class="formdet"><label for="eventVenue">Event Type:</label>

                    <select class="formt" id="country" name="eventType" required >
                        <option selected>Select a Type of Event</option>
                        <option   th:each="type : ${typeList}" th:text="${type.getName()}" th:value="${type.getId()}"></option>
                      </select>


                    <br><br>
                </div>


                <div class="formdt">

                    Paid event:
                    <label for="paidEvent">
                        <input type="radio" id="paidEvent" name="paidEvent" value="yes" tyle="display: flex; justify-content: center;"> Yes
                      </label>


                      <label for="paidEvent">
                        <input type="radio" id="paidEvent" name="paidEvent" value="no" tyle="display: flex; justify-content: center;"> No
                      </label>



                    <br><br>
                </div>
<br><br>
                <div class="formbuto">
                    <button type="submit" class="fbtn">Submit</button>
                    <button id="closeFormBtn" class="fbtn" style="background-color: rgb(200, 1, 1);">Close</button>
                </div>
                </form>

        </div>
    </div>

</body>
</html>