<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/navStyle.css}">
    <link rel="stylesheet" th:href="@{/css/eventTab.css}">
    <link rel="stylesheet" th:href="@{/css/listStyle.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/CEF.css}">
    <title>Events EMS</title>
</head>
<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation}"></div>
        <div class="main">
            <div class="topbar" th:replace="~{topBar :: topBar}">
            </div>
            <main>
                <div class="table-responsive table-tabs">
                    <div class="label">
                        <h2>Events</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                    <nav style="--bs-breadcrumb-divider:'>'" aria-label="breadcrumb">
                                    
                                        <li class="breadcrumb-item">
                                            <a th:href= "@{/admin-page}">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Event
            
                                        </li>
                                    
                            
                                    </nav>
                            </div>
                        </div>
                        
                     </div>
                    <div class="table-lists">
                        <button type="button" class="tab active">Event List</button>
                        <button type="button" class="tab">Task List</button>
                        <button type="button" class="tab">Venue List</button>
                        <div class="line"></div>
                        <button type="button" id="displayFormBtn" class="btn myprimarybtn">create event</button>

                    </div>

                    <table th:replace="~{Lists :: eventList}"></table>
                    <table th:replace="~{Lists :: taskList}"></table>
                    <table th:replace="~{Lists :: venueList}"></table>

                    <div class="pagination">
                        <div type="button" class="page" id="previous"><ion-icon name="chevron-back-outline"></ion-icon></div>
                        <span class="pageNumber">
                            <input type="text" title="currentPageNumber" name="currentPN" id="currentPN">
                            /
                            <span class="totalPN"></span>
                        </span>
                        <div type="button" class="page" id="next"><ion-icon name="chevron-forward-outline"></ion-icon></div>
                    </div>
                </div>
            </main>
        </div>
        <aside class="info">
            <div class="Details">
                <div class="userImg">
                    <img th:src="@{/manager-images/profile.jpg}" alt="">
                </div>
                <div>
                    <span class="username">Welcome, </span>
                    <span class="username" th:text="${user.fullname}"></span>
                </div> 
            </div>
            <div class="eventDetails">
                <div class="eventTitle"></div>
                <div class="eventImage" th:replace="~{Lists :: eventImage}"></div>
                <div class="eventStartDate">
                    <span class="DateTitle">Date: </span>
                    <span class="startDate"></span>
                </div>
                <div class="eventEndDate">
                    <span class="DateTitle">End Date: </span>
                    <span class="endDate"></span>
                </div>
                <div class="eventVenue">
                    <span class="venueTitle">Venue: </span>
                    <span class="venue"></span>
                </div>
                <p class="descriptionTitle">Description</p>
                <div class="eventDescription"></div>
            </div>
            <button type="button" class="btn myprimarybtn">view sheet</button>
            <div class="progress-bar">
                <div class="progress-bar-fill" ></div>
            </div>
        </aside>
    </div>
    <div id="overlay" class="overlay"  th:replace="~{createEventForm :: createEventForm}">
    </div>
    <script th:src="@{/js/eventTab.js}"></script>
    <script th:src="@{/js/nav.js}"></script>
    <script th:src="@{/js/lists.js}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>