<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title>
</head>
<body>
    <table class="tabTable active" id="eventRest" th:fragment="eventList">
        <div class="tablehead">
            <span>Name</span>
            <span>Name</span>
            <span>Name</span>
            <span>Name</span>
            <span>Name</span>
            <span>Name</span>
        </div>
        <!-- <thead class="">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Venue</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>Estimated Budget</th>
                <th>Date Modified</th>
            </tr>
        </thead> -->
        <tbody class="table-group-divider">
            <tr class="table-primary">   
            </tr>
        </tbody>
    </table>
    <table class="tabTable" id="taskRest" th:fragment="taskList">
        <thead class="tablehead">
            <tr>
                <th></th>
                <th>title</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>PersonInCharge</th>
                <th>RegistrationDate</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="table-primary">
            </tr>
        </tbody>
    </table>
    
    <table class="tabTable" id="api/venues" th:fragment="venueList">
        <thead class="tablehead">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="table-primary">
            </tr>
        </tbody>
    </table>

    <div class="eventImage" th:fragment="eventImage"></div>
</body>
<script th:src="@{/js.lists.js}"></script>
</html>